body {
    background-color: #121212;
    color: #e0e0e0;
    padding-top: 60px;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-section {
    text-align: center;
    margin-bottom: 50px;
}

.header-section h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.header-section p {
    font-size: 1.2rem;
    color: #bbb;
}

.project-card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.project-card .card-body {
    text-align: center;
}

.project-card h5 {
    margin-bottom: 10px;
    color: #ccc
}

.project-card p {
    color: #ccc;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: #aaa;
    position: fixed;
    bottom: 0;
    width: 100vw;
}