body {
    background-color: #121212;
    color: #e0e0e0;
    padding-top: 60px;
    /*temporary*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-section {
    text-align: center;
    margin-bottom: 50px;
}

.header-section h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.header-section p {
    font-size: 1.2rem;
    color: #bbb;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: #aaa;
    position: relative;
    width: 100vw;
    /*temporary*/
    margin-top: auto;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: #aaa;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.link-navbar:hover {
    color: #ccc;
}

.text-link {
    position: relative;
    color: #00bfff;
    text-decoration: none;
}

.text-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #00bfff;
    transition: width 0.3s;
}

.text-link:hover::after {
    width: 100%;
}

.kofi-link {
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
}